body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white; 
}
#canvasHolder {
    margin: 10px absolute;
}
  #createCollage {
    position: absolute;
    top: 20px;   
    margin-left:300px;
    padding: 10px 20px;
    font-size: 25px;
      border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
}
body {
font-family: 'Roboto Mono', monospace;    display: flex;
    flex-direction: column;
    align-items: center;
}

#refreshPage {
  position: absolute;
  margin-left:1600px;
  margin-bottom: 440px;
}
#textControls{
  font-size: 20px;
}
#instructions{
  font-size: 15px;
  

  
}
#imageLoader{
 top: 90px;
  font-size:12;
}
body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#textOption {
    width: 300px;   
    height: 40px;   
    font-size: 20px;
    padding: 5px;   
   
  font-family: 'Roboto Mono', monospace;    display: flex;
}
#saveImage {
  font-family: 'Roboto Mono', monospace;    display: flex;
    flex-direction: column;
    align-items: center;
}






